.booking__header {
  text-align: center;
  padding: 43px 18px 49px;

  @media (min-width: $tablet-width) {
    padding: 61px 155px 58px 155px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 370px 66px;
  }
}

.booking__header-title {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.booking__header-description {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    color: $color-night-rider;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.booking__header__break {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.booking__header-button {
  display: inline-flex;
  background-color: $color-seagull;
  color: $color-default-white;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 16px 49px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-family-main;

  @media (min-width: $tablet-width) {
    padding: 15px 136px 17px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 458px;
  }

  &:hover {
    background-color: $color-shakespeare;
  }

  &:active {
    color: $color-white-sail;
    background-color: $color-shakespeare-2;
  }

  &:disabled {
    background-color: $color-whisper-2;
  }
}

.booking__map {
  position: relative;
  max-width: 100%;
  min-height: 350px;
}

.booking__map iframe {
  position: relative;
  z-index: 1;
  width: 100%;
  border: none;
}

.booking__map-size {
  min-height: 350px;
}

.booking__map-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
}
