.main-header {
  display: flex;
  justify-content: space-between;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 100%;
  transform: translateX(-50%);
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 100%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.main-header__logo img {
  width: 185px;
  height: 96px;
}
