.main-slogan {
  height: 389px;
  position: relative;
  color: $color-default-white;
  background-color: $color-whisper;
  background-image: url("../img/intro/welcome-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 90px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro/welcome-background@2x.jpg");
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 57px;
    background-image: url("../img/intro/welcome-decoration.svg");
    background-position: center;
    background-repeat: no-repeat;
    bottom: -2px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    height: 518px;
    background-image: url("../img/intro/welcome-background--tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 77px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/welcome-background@2x--tablet.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/intro/welcome-background--desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 78px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/welcome-background@2x--desktop.jpg");
    }
  }
}
