.presentation {
  @media (min-width: $tablet-width) {
    padding: 55px 60px 37px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 2px 200px 84px;
  }
}

.presentation__description {
  padding: 15px 26px 38px 26px;

  @media (min-width: $tablet-width) {
    padding: 0 100px 89px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 177px 86px;
  }
}

.presentation__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.presentation__text {
  font-size: 14px;
  text-align: center;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.presentation__video-block {
  position: relative;
  text-align: center;
  margin: auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.presentation__video-block img {
  min-height: 177px;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    min-width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.presentation__video-button {
  background-image: url("../img/catalog/play-video.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 54px;
  border: none;
  background-color: transparent;
  position: absolute;
  left: 53%;
  bottom: 35%;
  transform: translateX(-50%);
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: 50%;
    bottom: 45%;
  }
}
