// Fonts

$font-family-main: "PT Sans", "Arial", sans-serif;

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;

// Color

$color-whisper: #eeeeee;
$color-whisper-2: #e5e5e5;
$color-whisper-nth: #eaeaea;
$color-seagull: #81b3d2;
$color-shakespeare: #669ec0;
$color-shakespeare-2: #5496bd;
$color-night-rider: #333333;
$color-white-smoke: #f2f2f2;
$color-white-sail: rgba(255, 255, 255, 0.2);
$color-black-smoke: rgba(1, 1, 1, 0.2);
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-gainsboro: #dbdbdb;
$color-roman-coffee: #766357;
$color-light-grey: rgba(214, 214, 214, 1);
$color-pink-swan: rgba(179, 179, 179, 1);

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
